<h1 class="name characters" id="{{vm.character.id}}-character"> {{vm.character.name}} <input ng-click="vm.toggle()" type="checkbox" ng-value="vm.character.toggled"/></h1> 
<h4 class="description"> {{vm.character.description}} </h4>
<img class="ythumb" ng-src="{{vm.character.thumbnail.path || 'spider.png'}}" alt="Smiley face Image" height="42" width="42"/>
<p>Available Comics with the Character <b>{{vm.character.name}}</b> : #{{vm.character.comics.available}}</p>
<div class="comic-list" item="item" ng-repeat="item in vm.character.comics.items track by $index">
	<p> <b>{{$index +1}}</b> # {{item.name}}</p>
</div>