<button ng-if="flagFirst && indexMin" ng-click="getPreviewCharacters()">...preview...</button>	
<button ng-click="actionCharacters(indexMin)">GET the CHARACTERS list</button>
<button ng-if="flagFirst" ng-click="getNextCharacters()">...next...</button>	

<div>
	from: <input type="number" min="1" ng-model="indexMin" ng-change="changeMax()" name="from">
	to: <input type="number" ng-value="indexMax" disabled name="to">
</div>

<div ng-if="!flagFirst" ><h1>{{introductionText}}</h1></div>
<!-- DISPLAY LIST -->
<div class="spinner"><h1 ng-show="loadingCharacters"> >>>> LOADING ....</h1></div>
<!-- OR -->
<character-detail ng-if="!loadingCharacters" ng-repeat="result in results" character="result"></character-detail>