<button ng-if="flagFirst && indexMin-1" ng-click="getPreviewComics()">...preview...</button>  
<button ng-click="actionComics(indexMin)">GET the COMICS list</button>
<button ng-if="flagFirst" ng-click="getNextComics()">...next...</button>

<div>
	from: <input type="number" min="1" ng-model="indexMin" ng-change="changeMax(indexMin)" name="from">
	to: <input type="number" ng-value="indexMax" disabled name="to">
</div>

<div ng-if="!flagFirst" ><h1>{{introductionText}}</h1></div>

<div class="spinner"><h1 ng-show="loadingComics"> >>>> LOADING ....</h1></div>
<!-- OR -->
<div ng-if="flagFirst && !loadingComics" ng-repeat="result in results">
	<comic-detail comic="result"/>
</div>


<!-- <div>
    <div class="loader-container sm">
    	<div loader working="loadingComics" template="5"></div>
    </div>
</div> -->
<!-- <loader
    working="loadingComics"
    disable-background="true"
    message="Loading..."
    template="1">
</loader> -->
